.custom-margin {
  margin-left: 4rem;
  margin-right: 4rem;
}
.logo {
  height: 50px;
  width: auto;
}
.feature {
  height: 100px;
  width: auto;
  margin-right: 3rem;
}
.footer {
  height: 6rem;
  display: flex;
}
.footer-link {
  margin: auto 2rem;
  text-decoration: none;
  color: black;
}
.title {
  color: black;
}
header {
  position: fixed;
  top: 0px;
}
@media only screen and (max-width: 800px) {
  .title {
    color: red;
  }
}
